/*danielle css*/ 

/*general formatting CSS*/

body {
    padding-top: 70px;
    Font-family: 'Slabo 27px', serif;
    font-size: 62.5%;
    margin:0px;
    height:100%;
    width: 100%;
    background-color: #F7F7F7;
    line-height: 23px;
}


/*navigation CSS*/

.dmnavigation{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: #ffffff;
    height: 25px;
    width: 100%;
    padding:30px;
    color:black;
}

.dmnavlinks {
    flex:1;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.dmnavli {
    float:left;
    padding-right: 50px;
    padding-left: 5px;
    list-style-type: none;
    font-size: 24px;
    margin: 0px 10px;
    transition: border 0.2s fade-in;
}

.dmnavli a {
    text-decoration: none;
    text-align: center;
    color: #000000;
}

.dmnavli:hover {
    border-left: solid .2px black;
}

.dmsecondbox {
    flex:1;
}

/*logo*/

.dmbrand {
    flex:1;
}

.dmlogo {
    font-family: 'Ultra', serif;
    font-size: 30px;
    padding-left: 20px;
}

/*big left picture and right scrolly pictures*/


.dmbodywithimages {
    display: flex;
    height:100vh;
    padding:40px 30px 15px;
}

.dmleftside{
    flex: 1;
    flex-direction: column;
    overflow:hidden;  
    max-height: 100vh;
}

.dmleftside img {
    height: 100%;
    /*width: 100%;*/
    padding-right: 15px;
}

.dmrightside{
    display: flex;
    flex: 1;
    overflow: auto;
    padding-left: 15px;
    max-height: 100vh;
}

.dmrightsideimages {
    flex:1;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    flex-direction:row;
    flex-wrap: wrap;
    margin: auto;
}


.dmimage1 {
    max-width: 45%;
    flex:1;
    margin-right: 20px;
    margin-bottom: 20px;
}

.dmimage2 {
    max-width: 45%;
    flex:1;
    margin-right: 20px;
}

/*text on left side and right side scrolly pictures*/

.dmrightside img:hover{
    opacity: 0.5;
}

.dmrightside img {
    opacity: 1;
}

.dmleftside img:hover{
    opacity: 0.5;
}

.dmrightside img {
    opacity: 1;
}


/*blog description*/ 

.dmblogdescription {
    border: black solid 3px;
    margin:70px 300px 70px;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
}

/*pizza hero pic with quote*/

.dmpizzahero {
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(images/dm12.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.dmpizzaherotext {
    text-align: center;
    font-size: 100px;
    color:#ffffff;
    font-style: bold;
    line-height: 1;
    padding-left: 70px;
    padding-right: 70px;
}


/*Nira CSS*/


/*nm cover*/
.nmblogcover{
    height:500px;
    background-image: url(images/nmpizza2.jpeg);
    background-size:cover;
    margin-top: 60px;
    margin-bottom: 30px;
    z-index: 1;
    width: 100%;
}
/*nm stacks*/
.nmstacks{
    width: 60%;
    margin-left: 3%;
    text-align: left;
    font-family: 'Slabo 27px' , 'serif';
}




.nmstacks h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px;
    border-bottom: red 1px 
}
.nmstacks h4 {
    margin-top: 3px;
 line-height: 30px;
    font-size:20px;
}

.nmstacks h2 {
    font-size: 30px;
    margin-bottom:5px;
    border-bottom: red 5px solid;
}
.nmstacks h5{
    margin: 5px 0px 8px 0px;
    font-size: 18px;
}

.nmimg1{
    height:400px;
    background-image:url(images/nmpizza1.jpeg);
    background-size:cover;
    width: 100%;
}

.nmimg2{
    height:400px;
    background-image:url(images/nmpizza6.jpeg);
    background-size:cover;
        width: 100%;
    border-radius: 2px;
}

.nmimg3{
    height:400px;
    background-image:url(images/nmpizza3.jpeg);
    background-size:cover;
        width: 100%;
 }

.nmimg4{
    height:400px;
    background-image:url(images/nmpizza4.jpeg);
    background-size:cover;
        width: 100%;
}

.nmimg5{
    height:400px;
    background-image:url(images/nmpizza5.jpeg);
    background-size:cover;
        width: 100%;
 }

/*nm advertisement*/
.nmad {
    background-image: url(images/nmad.jpeg);
    background-size: cover;
position:fixed;
  top: 200px;
    z-index: -1;
    right: 11%;
    width:20%;
height: 300px;
    text-align: center;
min-width: 200px;
color: #173753;}

.nmad h1{
    font-size:28px;
}
.nmad h3{
    font-size:20px;
}
/*nm contact*/


.nmcontact {
    padding:15px 0px 35px 0px;
    width:100%;
    height: 100px;
    text-align: center;
    background: #ffffff;
    font-family: 'Slabo 27px' , 'serif';
    font-size:20px;
}
.nmcontact input{
    width: 400px;
    height:20px;
}


/*navigation CSS*/

.wa-navigation {
position: fixed;
display: flex;
justify-content: center;
align-items: center;
background: #FFFFFF;
padding: 30px;
top: 0;
left: 0;
height: 25px;
width: 100%;
color: #000000;
}

.wa-name {
font-family: 'ultra', serif;
font-size: 30px;
padding: 20px;
}

.wa-navlinks {
flex: 1;
flex-direction: row;
justify-content: flex-end;
}

.wa-links {
list-style-type: none;
font-size: 24px;
padding-right: 50px;
padding-left: 5px;
float: left;
margin: 0px 10px;
transition: border 0.2s fade-in;
}

.wa-links a {
text-decoration: none;
text-align: center;
color: #000000;
}

.wa-links:hover {
border-left: solid 1px #000000;
}

.wa-bar {
flex: 1;
}

.wa-box1 {
flex: 1;
}

.wa-logo {
flex: 1;
}
 


